<% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %> </div>
<% end %>

<h3>Produtos</h3></th>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Nome</td>
            <td>Descrição</td>
            <td>Departamento</td>
            <td>Preço</td>
            <td>Quantidade</td>
            <td colspan="2">
        </tr>
    </thead>
    <tbody>
        <%= render @produtos %>
    </tbody>
</table>
