<html>
    <body>
        <%= form_for Produto.new do |form| %>
            Nome <input type="text" name="produto[nome]"><br/>
            Descrição <textarea type="textarea" name="produto[descricao]"></textarea><br/>
            Preço <input type="text" name="produto[preco]" pattern="[0-9]+([,\.][0-9]+)?" step="0.01" title="ex: 10.99"  placeholder="Insira um valor">><br/>
            Descrição <input type="number" name="produto[quantidade]"><br/>
            <button type="submit"> Criar </button>
        <% end %>
    </body>
</html>